@use '../globals';

@mixin area($row-start, $row-end, $col-start, $col-end, 
            $bg: var(--color-white), 
            $color: var(--color-dark-grey)) {
    grid-row: #{$row-start} / #{$row-end};
    grid-column: #{$col-start} / #{$col-end}; 
    background-color: $bg;
    color: $color;
}