
* {
    box-sizing: border-box;
}
h2, p {
    margin: 0;
}
body {
    min-height: 100vh;
    background-color: var(--color-bg);
    font-size: 1.6rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.5;
}
  