:root {
    --color-white: hsl(0, 0%, 100%);
    --color-light-grey: hsl(0, 0%, 81%);
    --color-bg: hsl(210, 46%, 95%);
    --color-violet: hsl(263, 55%, 52%);
    --color-dark-grey: hsl(219, 29%, 14%);
    --color-grey: hsl(217, 19%, 35%);
}
